@using Hastane.Models.Entity
@model List<personel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDoktor.cshtml";
}

<div class="container container-int">

    <ol class="breadcrumb">
        <li>@Html.ActionLink("Anasayfa", "Index", "Doktor")</li>
        <li class="active">/Personeller</li>
    </ol>
    @using (Html.BeginForm("PersonelCikar", "Yonetici", FormMethod.Get))
    {
        <p>
            Personel TC: @Html.TextBox("personeltc")
            <input type="submit" value="Ara" />
        </p>
    }
    @using (Html.BeginForm("PersonelCikar", "Yonetici", FormMethod.Get))
    {
        <p>
            Personel Adı: @Html.TextBox("personelad")
            <input type="submit" value="Ara" />
        </p>
    }
    <div class="row">

        <div class="col-md-2">

            <div class="list-group" align="justify">

                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    İsim
                </a>
                @foreach (var personel in Model)
                {
                    <a href="#" class="list-group-item list-group-item-action">@Html.DisplayFor(modelItem => personel.ad) @Html.DisplayFor(modelItem => personel.soyad)</a>
                }
            </div>
        </div>

        <div class="col-md-2">

            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    TC
                </a>
                @foreach (var personel in Model)
                {
                    <a href="#" class="list-group-item list-group-item-action">@Html.DisplayFor(modelItem => personel.tc)</a>
                }
            </div>
        </div>

        <div class="col-md-4">

            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active " aria-current="true">
                    Branş
                </a>
                @foreach (var personel in Model)
                {
                    <a href="#" class="list-group-item list-group-item-action">@Html.DisplayFor(modelItem => personel.unvan1.unvan1)</a>
                }
            </div>
        </div>

        <div class="col-md-2">

            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    İşten Çıkar
                </a>
                @foreach (var personel in Model)
                {
                    @Html.ActionLink("Çıkar", "PersonelCikarOnay", "Yonetici", new { personelID = personel.personelid }, new { @class = "list-group-item list-group-item-action list-group-item-danger active", onclick = "return confirm('Personeli silmek istediğinize emin misiniz? ')" })
                }
            </div>
        </div>
        
    </div>

</div>


